#elBoton {
    border: 1px solid #00ff0d; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #00ff0d; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }
#otroBoton {
    border: 1px solid #ff0000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #ff0000; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
}
#tercerBoton {
     border: 1px solid #d400ff; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #d400ff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
}